.school-img{
    height: 150px;
    width: 155px;
}
.img-1 {
    width: 90px;
    height: 110px;
    
}
.img-2 {
    width: 70px;
    height: 80px;
}
.img-3{
    width: 140px;
    height: 150px;
}
.img-6{
    width: 110px;
    height: 110px;
}
.img-5{
    width: 210px;
    height: 160px;
}
