.section{
    margin-top: 25px;
}
.body-content{
    
}
.body-content h2{
    font-weight: 600;
    line-height: 55px;
    text-align: center;
    


}
.text-1, .text-2{
    font-size: 16px;
}
.text-3{
    font-size: 12px;
    text-align: center;

}

.search{
    margin: 0 auto;
}
.search input{
    width: 50%;
    height: 30px;
    font-size: 12px;
    
    
    
}
.search .search-button{
    font-size: 10px;
    
}
.welcome-image{
    text-align: center;
}
.signup-button{
    color: #000 !important;
    font-size: 0.75em !important;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 18px;
  
    border: 1px solid  var(--pq-primary) !important;
    transition: .25s ease-in-out;
}
.signup-button:hover{
    background-color: var(--pq-primary);
    color: #fff !important;
}
.signin-button{
    color: #fff !important;
    font-size: 0.75em !important;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 18px;
  border: none !important;
    background-color:   var(--pq-blue) !important;
    transition: .25s ease-in-out;
}
.signin-button:hover{
    opacity: 0.55;
}
.logout-button{
 
    color: #fff !important;
    font-size: 0.75em !important;
    padding: 0.5rem 1rem;
    border-radius: 18px;
   border: none;
    background-color: var(--pq-primary) !important;
    transition: .25s ease-in-out;
   
}