.quiz-container{
    
  
}
.practice-section{
    
    padding: 80px;
    box-shadow: 5px 5px 15px 5px  #ebe8e8;
    border-radius: 35px;
}
.quiz-text{
    font-size: 64px;
}
.quiz-question{
    font-size: 1.25em;
    padding-top: 15px;
    padding-bottom: 10px;
    color: var(--pq-grey);
    border-bottom:0.1px solid  var(--pq-grey) ;
}
.quiz-logo-img{
    height: 18px;
}
.options{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center
}
.quiz-logo-text{
    font-size: 0.8em;
    font-weight: bold;
}
.hint-logo{
    margin-right: 1.2em;
}
.lifeline-logo{
    margin-right: 0.5em;
    
}
.clock-logo{
    height: 16px;
    margin-right: 0.2em;
}
.option{
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
    transition: 0.25s;
    border-radius: 30px ;
}
.option:hover{
    cursor: pointer;
    background: #c4c0c0;
}
.button-container{
    margin: 10px;
}
.practice-quiz-button{
    margin: 10px 10px 0 10px;
}
.disable{
   display: none;
}
.disable:hover{
    cursor: not-allowed;
    background-color: #ccc;
}
.option.selected {
    background-color: #c4c0c0; /* Replace with your desired color */
    color: var(--pq-grey); /* Replace with your desired color */
  }

  .next-button{
    background-color: var(--pq-blue);
    border-radius: 30px;
    padding: 0.5em 1em;
  }
  .previous-button{
    background-color: var(--pq-grey);
    border-radius: 30px;
    padding: 0.5em 1em;
    transition: 0.25s;
  }