.password-text-2{
    font-size: 10px;
    
    margin-left: 15px;
}

.sign-up-horizontal-line::before{
   
    width: 10px;
    height: 10px;
    color: #fff;
    font-size: 12px;
    padding: 0px 6px;
    background-color: black;
   
    top: -15px;
    

    
    
}
.password-container{
    position: relative;
}
.fisheye{

    color: #a7a7a7;
    position: absolute;
   right: 10px;
   top: 10px;
     border: none;
    
   
}
.profile-name-text{
    margin-left: 28px;
    font-size: 8px;
   
}

.sign-up-top-section .continue-option-2{
    margin-bottom: 20px;
}
.signup-checkbox{
    font-size: 8px !important;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 11px;
}
.terms-and-conditions{
    font-size: 7px;
    color: #000;
    text-align: center;
   
}
.terms-and-conditions-link{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #dc3545;
    padding: 0;
    color: #dc3545;
    cursor: pointer;
    border-radius: 0;
}
.sign-up-footer{
    font-size: 12px;
    color: #747474;
   
}
.sign-up-footer a{
    
    color: var(--pq-primary);
    
}
.swal-button {
    margin: 0px;
    font-size: 16px;
   
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 28px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid var(--pq-primary);

    color: #000;
  }
  .swal-button:hover{
    background-color:var(--pq-primary) !important;
  }
  .swal-modal{
   
    border-radius: 30px;
   
  }
 
  .swal-icon{
    
  }
  .logo-text{
    font-family: 'Lobster', cursive !important; 
    font-weight:900;
    letter-spacing: 2px;
    font-size: 2em;
   
}